.task {
  width: 300px;
  height: 100px;
  overflow: hidden;
  border: none;
  box-shadow: 1px 1px 10px 5px gray;
  border-radius: 4px;
  background: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  &-header {
    padding: 5px;
    width: 100%;
  }

  &-description {
    height: 50px;
  }
}
